@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: black;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    background-color: white;
}


header nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    align-items: center;
}

header nav ul li {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

header nav ul li a:hover {
    background-color: transparent;
    border: 2.5px solid black;
    color: rgb(0, 0, 0);
}

.content_header img {
    width: 12rem;
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

 .social_media .icon {
    font-size: 35px;
    cursor: pointer;
    color: white;
}

 .social_media .icon1 {
    background-color: green;
    border-radius: 50%;
    padding: 8px;
}

 .social_media .icon2 {
    background-color: blue;
    border-radius: 50%;
    padding: 8px;
}

 .social_media .icon3 {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 8px;
}

/* MENU HAMBURGUER */

.menu-toggle {
    width: 92%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.open .hamburger {
    transform: rotate(47deg);
}

.open .hamburger::before {
    transform: rotate(-90deg) translate(-8px, 0);
}

.open .hamburger::after {
    transform: rotate(90deg) translate(-8px, 0);
}

.nav_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.521);
    
    z-index: 1;
}

.nav_menu ul {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    list-style: none;
}

.nav_menu ul li {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.nav_menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.nav_menu .social_media .icon {
    margin-top: 50px;
}